.body {
    border-left-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(250, 204, 149);
    bottom: unset;
    padding: center;
    
}